@page
@model WireMock.Pages_WireMockServers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.Urls)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.Urls)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.StartAdminInterface)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.StartAdminInterface)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.ProxyUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.ProxyUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.Port)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.Port)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.SaveMapping)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.SaveMapping)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.SaveMappingToFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.SaveMappingToFile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireMockServerModel.SaveMappingForStatusCodePattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireMockServerModel.SaveMappingForStatusCodePattern)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WireMockServerModel.Id">Edit</a> |
    <a asp-page="../Server">Back to List</a>
</div>
