@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WireMock.Data
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}
<h1>@Model.WireMockServiceModel.Name</h1>
<h2>Details</h2>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.Id)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.Created)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.Created)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.Contact)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.Contact)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => WireMockServiceModel.StartAdminInterface)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => WireMockServiceModel.StartAdminInterface)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.ProxyUrl)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.ProxyUrl)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.Port)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.Port)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.SaveMapping)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.SaveMapping)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.SaveMappingToFile)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.SaveMappingToFile)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.SaveMappingForStatusCodePattern)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.SaveMappingForStatusCodePattern)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WireMockServiceModel.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WireMockServiceModel.Description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn"
        asp-page="./Edit"
       asp-route-serviceId="@Model.WireMockServiceModel.Id">
        Edit
    </a> |
    <a class="btn"
        asp-page="../Index">Back to service list</a> |

    <a
        class="btn"
        asp-page="./Mappings"
        asp-route-id="@Model.WireMockServiceModel.Id"> Mappings
    </a>

</div>
