@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WireMock.Pages.WireMockServers.Mappings

@{
    ViewData["Title"] = "Mappings";
}
<table class="table">
    <thead>
    <tr>
        <th>GUID</th>
        <th>Title</th>
        <th>Updated</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var map in Model.Maps)
    {
        <tr>
            <th scope="row">@map.Guid</th>
            <td> @map.Title </td>
            <td> @map.UpdatedAt.ToString("dd.MM.yyyy HH:mm:ss") </td>
            <td>
                <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#details-@map.Guid">Details and Edit</button>
                <form method="post" asp-page-handler="ResetMapping">
                    <input type="hidden" asp-for="@Request.Query["id"]" name="id"/>
                    <input type="hidden" asp-for="@map.Guid" name="guid"/>
                    <button type="submit" class="btn btn-danger">X</button>
                </form>
            </td>
        </tr>
        <tr id="details-@map.Guid" class="collapse">
            <td colspan="4">
                <form method="post" asp-page-handler="SaveAndUpdate">
                    <div class="form-floating">
                        <textarea asp-for="@map.Raw" class="form-control" style="height: 300px; white-space: pre-line" name="raw">
                                  </textarea>
                    </div>
                    <p>
                    <div class="d-flex flex-row-reverse">
                        <input type="hidden" asp-for="@Model.Request.Query["id"]" name="id"/>
                        <input type="hidden" asp-for="@map.Guid" name="guid"/>
                        <input type="hidden" asp-for="MapJsonContent" id="json-content"/>
                        <button id="save-button" type="submit" class="btn btn-warning">Save and Update</button>
                    </div>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="d-flex flex-row-reverse">
    <form method="post" asp-page-handler="ResetAllMappings">
        <input type="hidden" asp-for="@Model.Request.Query["id"]" name="id"/>
        <button type="submit" class="btn btn-danger">Reset All Mappings</button>
    </form>
</div>

<div>
    <a asp-page="../Server">Back to List</a>
</div>